[4:32 PM] Mitch Gohman
    CTM is starting a new marketing campaign to let people know about our new widgets. Using a IDE of your choice, complete the following:
1. A RESTful api that will record in a database:
* user's email
* opt-in
* first name
* last name

2. Database schema: Show SQL create table statement
3. Bonus: Allow a person to opt out of the email campaign
We will be evaluating the following categories:
1. API Functionality
2. Code Quality
3. Database Schema
4. Unit Test
5. Documentation
